---

---

<footer class="flex justify-center items-center gap-4 text-center">
  <a href="https://icp.gov.moe/?keyword=20240314" target="_blank">萌ICP备20240314号</a>
  <a href="https://travel.moe/go.html" title="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！" target="_blank"
    ><img class="inline -translate-y-1 size-4" src="https://travel.moe/images/icon/icon64.png" />
    异次元之旅
  </a>
</footer>
