---
import { SITE } from "@/site-config";
---

<header class="flex px-4 py-2 border-b border-gray-200 dark:border-gray-700">
    <a href="/" class="avatar flex items-center gap-2 hover:animate-pulse">
        <img
            class="w-16 h-16 overflow-hidden"
            src="/assets/lime.svg"
            alt="Lime logo"
        />
        <h3
            class="text-3xl font-extrabold md:text-4xl text-theme-primary dark:text-theme-dark-secondary"
        >
            {SITE.title}
        </h3>
    </a>
    <nav class="ml-auto flex items-center">
        <ul
            class="flex gap-3 text-gray-400 text-xl
            *:size-8 *:text-center *:leading-8 *:rounded
            hover:*:bg-theme-primary
            hover:*:text-white"
        >
            <li>
                <a href="//github.com/liumingxun">
                    <i class="i github"></i>
                </a>
            </li>
            <li>
                <i class="i sun"></i>
            </li>
        </ul>
    </nav>
</header>
