---
import ThemeController from '@/components/ThemeController.astro'
import { SITE } from '@/site-config'
---

<header class="flex px-4 py-2 border-b border-gray-200 font-serif">
  <a href="/" class="flex items-center gap-2 hover:rotate-3 transition-transform">
    <img
      class="w-16 h-16 overflow-hidden animate-floating"
      src="/assets/lime.svg"
      alt="Lime logo"
      transition:name="logo"
    />
    <span
      transition:name="title"
      class="text-3xl font-extrabold md:text-4xl stroke-transparent bg-gradient-primary bg-clip-text text-transparent"
      >{SITE.author}</span
    >
  </a>
  <nav class="ml-auto flex items-center">
    <ul
      class="flex gap-3 text-gray-400 text-xl
            *:size-8 *:text-center *:leading-8 *:rounded
            hover:*:bg-primary
            hover:*:text-white"
    >
      <li>
        <a href="//github.com/liumingxun" title="lime's github link">
          <i class="i github"></i>
        </a>
      </li>
      <li>
        <ThemeController />
      </li>
    </ul>
  </nav>
</header>
