---
import { NAV_ITEMS } from '@/site-config'
---

<nav>
  <ul class="inline-flex my-2 list-none gap-8 text-xl font-semibold text-primary pb-2">
    {
      NAV_ITEMS.map((item) => (
        <li>
          <a
            class:list={[
              `pb-1 border-b-2 hover:border-gray-400`,
              Astro.url.pathname.startsWith(item.path) ? 'border-primary' : '',
            ]}
            href={item.path}
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
