@import url('https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'remark-github-alerts/styles/github-base.css';

pre,
code {
  @apply font-mono!;
}

.prose h1 {
  @apply text-pretty;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  :root {
    --color-note: var(--color-primary);
    --color-important: var(--color-accent);
    --color-tip: var(--color-info);
    --color-caution: var(--color-error);
  }
}

@plugin "daisyui" {
  themes: acid;
}

@plugin "daisyui/theme" {
  name: 'acid';
  default: true;
  prefersdark: false;
  --color-primary: #aad37d;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
  name: 'dark';
  prefersdark: true;
  color-scheme: dark;
  --color-primary: #66ccff;
  --color-primary-content: oklch(16.0787% 0.023846 232.686197);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Noto Sans SC', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'LXGW WenKai Screen R', sans-serif;

  --animate-floating: floating 3.5s ease-in-out infinite;
  --animate-switch: switch 450ms ease-in-out;

  --background-image-gradient-primary: linear-gradient(to bottom, #aad37d, #66ccff);

  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2%);
    }
  }

  @keyframes switch {
    from,
    to {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }
}
