---
import Card from "./Card.astro";
import type Blog from "/interfaces/blog";
import LmImage from "./LmImage.astro";

interface Props {
    blog: Blog;
}

const { blog } = Astro.props;
const image = blog.attributes.hero_image?.data;

const datetime = new Date(blog.attributes.createdAt).toLocaleDateString(
    "en-UK",
    {
        month: "short",
        day: "2-digit",
        year: "numeric",
    },
);
---

<div class="mb-4 last:mb-0 h-24">
    <Card>
        <div class="flex gap-4">
            <time
                datetime={blog.attributes.createdAt}
                class="flex flex-col text-secondary font-semibold"
            >
                <span class="text-3xl text-center"
                    >{datetime.split(" ").shift()}</span
                >
                <span
                    >{
                        datetime
                            .split(" ")
                            .filter((_, i) => i !== 0)
                            .join(" ")
                    }</span
                >
            </time>
            <div class="grow">
                <a
                    href={`/blogs/${blog.attributes.slug}`}
                    class="hover:underline-offset-4 hover:underline decoration-primary text-xl"
                >
                    {blog.attributes.title}
                </a>
                <div>
                    {
                        blog.attributes.tags?.data.map((tag) => (
                            <span class="ds-badge ds-badge-outline mr-2 last:mr-0">
                                {tag.attributes.name}
                            </span>
                        ))
                    }
                </div>
            </div>
        </div>
        {
            image && (
                <div
                    class="absolute w-[350px] h-full top-0 right-0"
                    style="mask-image: linear-gradient(to left, rgba(0,0,0, 1), rgba(0,0,0,0))"
                >
                    <LmImage {...image} />
                </div>
            )
        }
    </Card>
</div>
