---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

interface Props {
    blog: CollectionEntry<'blog'>;
}

const { blog } = Astro.props;

const datetime = new Date(blog.data.createdAt).toLocaleDateString(
    "en-UK",
    {
        month: "short",
        day: "2-digit",
        year: "numeric",
    },
);
---

<div class="mb-4 last:mb-0 h-24">
    <Card>
        <div class="flex gap-4 z-10">
            <time
                datetime={blog.data.createdAt.toISOString()}
                class="flex flex-col text-secondary font-semibold text-center shrink-0"
            >
                <span class="text-3xl">{datetime.split(" ").shift()}</span>
                <span
                    >{
                        datetime
                            .split(" ")
                            .filter((_, i) => i !== 0)
                            .join(" ")
                    }</span
                >
            </time>
            <div class="grow">
                <a
                    href={`/blogs/${blog.slug}`}
                    class="hover:underline-offset-4 hover:underline decoration-primary text-xl"
                >
                    {blog.data.title}
                </a>
                <div>
                    {
                        blog.data.tags?.map((tag) => (
                            <span class="ds-badge ds-badge-outline mr-2 last:mr-0">
                                {tag}
                            </span>
                        ))
                    }
                </div>
            </div>
        </div>
    </Card>
</div>
