---
import Card from "./Card.astro";
import type Blog from "/interfaces/blog";
import LmImage from "./LmImage.astro";

interface Props {
    blog: Blog;
}

const { blog } = Astro.props;
const image = blog.attributes.hero_image?.data;

---

<Card>
    <div class="flex">
        <div class="empty:hidden w-1/4 max-h-20 mr-2">
            {
                image && (
                    <LmImage
                        {...image}
                    />
                )
            }
        </div>

        <div class="grow">
            <a href={`/blogs/${blog.attributes.slug}`}>
                <h2>{blog.attributes.title}</h2>
            </a>
            <div class="flex justify-between mt-1">
                <div>
                    {
                        blog.attributes.tags?.data.map((tag) => (
                            <span class="ds-badge ds-badge-secondary mr-2 last:mr-0">
                                {tag.attributes.name}
                            </span>
                        ))
                    }
                </div>
                <p>
                    {new Date(blog.attributes.createdAt).toLocaleDateString()}
                </p>
            </div>
        </div>
    </div>
</Card>

