<div class="bg-[#6cf] shadow-lg rounded-lg p-4 mb-2 last:mb-0">
    <slot />
</div>

<style>
    div {
        background: -webkit-linear-gradient(
            166deg,
            #edf2fb,
            #e2eafc,
            #d7e3fc,
            #c1d3fe
        );
        background: linear-gradient(166deg, #edf2fb, #e2eafc, #d7e3fc, #c1d3fe);
    }
</style>
