---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex my-8">
	<div class="h-8 hover:opacity-95 hover:rotate-[8deg] transition-transform">
		<a href="/">
			<img class="h-full" src="/lime.png" alt="A Lime Logo" aria-label="A Lime Logo">
		</a>
	</div>
	<nav class="ml-auto flex justify-around items-center">
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/tool">Tool</HeaderLink>
		<HeaderLink href="/others">Others</HeaderLink>
	</nav>
</header>

<style>
	header {
		max-width: 880px;
		margin: 0 auto;
	}
</style>