---
interface Props {
  hover: string
  list: string[]
}

const { hover, list } = Astro.props
---

<span class="relative">
  <b class="hover-element cursor-pointer underline">{hover}</b>
  <ul
    class:list={[{ hidden: list.length === 0 }]}
    class="list min-w-max p-2 bg-lime-200/90 list-none absolute invisible"
  >
    {list.map((item) => <li>{item}</li>)}
  </ul>
</span>
