---
import type { MarkdownHeading } from 'astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<div class="fixed w-72 border-l border-b border-dashed">
  <ul class="text-sm list-none px-2">
    {
      headings.map((heading) => (
        <li class={`ml-${(heading.depth - 1) * 2}`}>
          <a href={`#${heading.slug}`} class="ds-link ds-link-hover">
            <span>{heading.text}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
