---
import type Blog from "/interfaces/blog";
import fetchApi from "/lib/strapi";
import DefaultLayout from "@/layouts/default.astro";
import { buildSeo } from "@/utils/buildSeo";

import { marked } from "marked";
const { slug } = Astro.params;
const blog = await fetchApi<Blog>({
    endpoint: "posts",
    wrappedByKey: "data",
    wrappedByList: true,
    query: {
        filters: {
            slug: {
                $eq: slug,
            },
        },
        populate: {
            content: true,
        },
    },
});

if (!blog) {
    return Astro.redirect('/404', 404)
}
---

<DefaultLayout
    seo={buildSeo({
        title: blog.attributes.title,
        description: blog.attributes.description,
        createdAt: blog.attributes.createdAt,
        updatedAt: blog.attributes.updatedAt,
        publishedAt: blog.attributes.publishedAt,
        image: blog.attributes.hero_image?.data,
        tags: blog.attributes.tags?.data,
    })}
>
    <Fragment slot="extend-head">
        <link
            href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/themes/prism.min.css"
            type="text/css"
            rel="stylesheet"
        />
        <link
            href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/line-numbers/prism-line-numbers.min.css"
            type="text/css"
            rel="stylesheet"
        />
        <link
            href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/toolbar/prism-toolbar.min.css"
            type="text/css"
            rel="stylesheet"
        />
    </Fragment>
    <article class="m-auto prose line-numbers">
        <h1>{blog.attributes.title}</h1>
        {
            blog.attributes.content?.map((content) => {
                switch (content.__component) {
                    case "display.md":
                        return <div set:html={marked.parse(content.content)} />;
                    case "display.mce":
                        return <div set:html={content.content} />;
                    default:
                        return null;
                }
            })
        }
    </article>
    <script
        is:inline
        src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/components/prism-core.min.js"
        type="application/javascript"></script>
    <script
        is:inline
        src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js"
        type="application/javascript"></script>
    <script
        is:inline
        src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/line-numbers/prism-line-numbers.min.js"
        type="application/javascript"></script>
    <script
        is:inline
        src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/toolbar/prism-toolbar.min.js"
        type="application/javascript"></script>
    <script
        is:inline
        src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/prism/1.27.0/plugins/show-language/prism-show-language.min.js"
        type="application/javascript"></script>
</DefaultLayout>
