---
import DefaultLayout from '@/layouts/default.astro'
import BlogListItem from '@/components/BlogListItem.astro'
import { SITE } from '@/site-config'
import { queryCollection } from '@/utils/queryCollection'

const blogs = await queryCollection('blog', {
  by: 'createAt',
  order: 'desc',
})
---

<DefaultLayout
  seo={{
    title: 'Blogs',
    description: SITE.description,
  }}
>
  <div>
    {blogs.map(({ id, data }) => <BlogListItem data={data} slug={id} />)}
  </div>
</DefaultLayout>
