---
import Header from './components/Header.astro'
import Footer from './components/Footer.astro'
import Nav from './components/Nav.astro'
import type Seo from '@/types/seo'

import EmptyLayout from './empty.astro'

interface Props {
  seo: Seo
}

const { seo } = Astro.props
---

<EmptyLayout seo={seo}>
  <slot slot="extend-head" name="extend-head" />
  <div class="min-h-screen bg-base-100 grid grid-rows-[5rem_auto]">
    <Header />
    <main class="mx-auto container not-sm:max-w-xs">
      <Nav />
      <slot transition:name="bg" />
    </main>
  </div>
  <Footer />
</EmptyLayout>
