---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import Nav from "./components/Nav.astro";
import BaseHead from "./components/BaseHead.astro";
import "@/assets/prism.css";

interface Props {
	content?: {
		title: string;
		description: string;
	};
}

const { content } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={content?.title ?? 'Lime\'s Site'} description={content?.description ?? 'Lime\'s Site'} />
	</head>
	<body class="transition-colors">
		<Header />
		<main class="mx-auto px-4 container">
			<Nav />
			<slot />
		</main>
		<Footer />
		<script src="@/assets/prism.js"></script>
	</body>
</html>
