---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import Nav from "./components/Nav.astro";
import BaseHead from "./components/BaseHead.astro";
import type Seo from "/interfaces/seo";

interface Props {
	seo: Seo;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead seo={seo} />
		<slot name="extend-head" />
		<style is:global>
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				@apply text-base-content !important;
			}
		</style>
	</head>
	<body class="transition-all">
		<Header />
		<main class="mx-auto px-4 container">
			<Nav />
			<slot />
		</main>
		<Footer />
	</body>
</html>
