---
import '@/styles/global.css'
import BaseHead from './components/BaseHead.astro'
import type Seo from '@/types/seo'

interface Props {
  seo: Seo
}

const { seo } = Astro.props
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead seo={seo} />
    <slot name="extend-head" />
  </head>
  <body class="h-svh font-serif">
    <slot />
  </body>
</html>
